{% if project.description -%}
[project]
  description = {{ project.description}}
{% endif %}

[label "Verified"]
  function = MaxWithBlock
  value = -1 Fails
  value =  0 No score
  value = +1 Verified

[label "Code-Review"]
  function = MaxWithBlock
  copyMinScore = true
  copyAllScoresOnTrivialRebase = true
  value = -2 Do not submit
  value = -1 I would prefer that you didn't submit this
  value =  0 No score
  value = +1 Looks good to me, but someone else must approve
  value = +2 Looks good to me, approved

[access "refs/*"]
  read = group {{ project.name }}-contributor
  read = group {{ project.name }}-developer
  read = group {{ project.name }}-releng

[access "refs/for/refs/*"]
  push = group {{ project.name }}-contributor
  push = group {{ project.name }}-developer
  push = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-contributor
  pushMerge = group {{ project.name }}-developer
  pushMerge = group {{ project.name }}-releng

[access "refs/for/refs/heads/master"]
  exclusiveGroupPermissions = push pushMerge
  push = group {{ project.name }}-developer
  push = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-developer
  pushMerge = group {{ project.name }}-releng

[access "refs/heads/*"]
  create = group {{ project.name }}-contributor
  create = group {{ project.name }}-developer
  create = group {{ project.name }}-releng
  push = group {{ project.name }}-contributor
  push = group {{ project.name }}-developer
  push = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-contributor
  pushMerge = group {{ project.name }}-developer
  pushMerge = group {{ project.name }}-releng
  submit = group {{ project.name }}-developer
  submit = group {{ project.name }}-releng
  label-Code-Review = -1..+1 group Non-Interactive Users
  label-Code-Review = -1..+1 group {{ project.name }}-contributor
  label-Code-Review = -2..+2 group {{ project.name }}-developer
  label-Code-Review = -2..+2 group {{ project.name }}-releng
  label-Verified = -1..+1 group Non-Interactive Users
  label-Verified = -1..+1 group {{ project.name }}-releng

[access "refs/heads/develop"]
  exclusiveGroupPermissions = push pushMerge submit
  push = group {{ project.name }}-developer
  push = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-developer
  pushMerge = group {{ project.name }}-releng
  submit = group {{ project.name }}-developer
  submit = group {{ project.name }}-releng

[access "refs/heads/master"]
  exclusiveGroupPermissions = push pushMerge submit label-Code-Review
  push = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-releng
  submit = group {{ project.name }}-releng
  label-Code-Review = -1..+1 group Non-Interactive Users
  label-Code-Review = -2..+2 group {{ project.name }}-developer
  label-Code-Review = -2..+2 group {{ project.name }}-releng

[access "refs/tags/*"]
  push = +force group {{ project.name }}-releng
  pushTag = group {{ project.name }}-releng
  pushMerge = group {{ project.name }}-releng
  submit = group {{ project.name }}-releng

[access "refs/drafts/*"]
  push = block group Registered Users

