[project]
  description = This is a great project

[label "Verified"]
  function = MaxWithBlock
  value = -1 Fails
  value =  0 No score
  value = +1 Verified

[label "Code-Review"]
  function = MaxWithBlock
  copyMinScore = true
  copyAllScoresOnTrivialRebase = true
  value = -2 Do not submit
  value = -1 I would prefer that you didn't submit this
  value =  0 No score
  value = +1 Looks good to me, but someone else must approve
  value = +2 Looks good to me, approved

[access "refs/*"]
  read = group testing-proj-contributor
  read = group testing-proj-developer
  read = group testing-proj-releng

[access "refs/for/refs/*"]
  push = group testing-proj-contributor
  push = group testing-proj-developer
  push = group testing-proj-releng
  pushMerge = group testing-proj-contributor
  pushMerge = group testing-proj-developer
  pushMerge = group testing-proj-releng

[access "refs/for/refs/heads/master"]
  exclusiveGroupPermissions = push pushMerge
  push = group testing-proj-developer
  push = group testing-proj-releng
  pushMerge = group testing-proj-developer
  pushMerge = group testing-proj-releng

[access "refs/heads/*"]
  create = group testing-proj-contributor
  create = group testing-proj-developer
  create = group testing-proj-releng
  push = group testing-proj-contributor
  push = group testing-proj-developer
  push = group testing-proj-releng
  pushMerge = group testing-proj-contributor
  pushMerge = group testing-proj-developer
  pushMerge = group testing-proj-releng
  submit = group testing-proj-developer
  submit = group testing-proj-releng
  label-Code-Review = -2..+2 group Non-Interactive Users
  label-Code-Review = -1..+1 group testing-proj-contributor
  label-Code-Review = -2..+2 group testing-proj-developer
  label-Code-Review = -2..+2 group testing-proj-releng
  label-Verified = -1..+1 group Non-Interactive Users
  label-Verified = -1..+1 group testing-proj-releng

[access "refs/heads/develop"]
  exclusiveGroupPermissions = push pushMerge submit
  push = group testing-proj-developer
  push = group testing-proj-releng
  pushMerge = group testing-proj-developer
  pushMerge = group testing-proj-releng
  submit = group testing-proj-developer
  submit = group testing-proj-releng

[access "refs/heads/master"]
  exclusiveGroupPermissions = push pushMerge submit label-Code-Review
  push = group testing-proj-releng
  pushMerge = group testing-proj-releng
  submit = group testing-proj-releng
  label-Code-Review = -2..+2 group testing-proj-developer
  label-Code-Review = -2..+2 group testing-proj-releng

[access "refs/tags/*"]
  push = +force group testing-proj-releng
  pushTag = group testing-proj-releng
  pushMerge = group testing-proj-releng
  submit = group testing-proj-releng

[access "refs/drafts/*"]
  push = block group Registered Users

